.container-class{
	width: 78%;
	margin:0 auto;
	padding-top: 30px;
	margin-bottom: 30px;
}
.header-left h2 {
	display: inline-block;
	margin-left:40px;
	font-size:16px;
	color:#404040;
	font-family: 'acumin pro medium';
}
.blog{
	color: #404040;

}
.nav-links-2 ul li{
	display: inline-block;
}
.disc{
	font-size:16px;
	font-family: 'acumin pro light';
	color:#404040;
}
/*.blog1{
	display: inline-block;
}*/

.ball-1 {
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-image:  linear-gradient(to right, #6294A2, #58C3DD);

}
.exp{
	text-decoration: none;
	font-size: 22px;
	color:#404040;
	font-family: 'acumin pro';
}

.nav-links-2{
	margin-left: 700px;
}
.home{
	margin-right:30px;
	text-decoration: none;
	font-size: 16px;
	font-family: 'acumin pro semibold';
	color:#404040;
}

/* footer styles */
/* gloabals */
.d-inline {
	display: inline-block;
	vertical-align: middle;
}

footer {
	padding: 35px 0;
	background-color: #FCFCFC;
	color: #404040;
}

/* footer left side styles */
.footer-left {
	margin-right: 350px;
}

.copyright {
	opacity: 0.27;
	margin-left: 20px;
}

.logo a {
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #404040;
	font-family: 'Acumin Pro Light';
}

.logo a span {
	font-family: 'Acumin Pro Bold';
}

footer h2 {
	display: block;
	margin-top: 20px;
	font-size: 16px;
	font-family: 'Acumin Pro Medium';
	line-height: 22px;
	letter-spacing: 0.25px;
}

.footer-paragraph {
	width: 376px;
	margin-top: 10px;
}

/* footer center section styles */
.nav-links {
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.5px;
	display: inline-block;
	vertical-align: top;
}

.navigation {
	padding-right: 75px;
	margin-right: 75px;
	border-right: 1px solid rgba(166, 166, 166, 0.5);
}

.nav-links h3{
	font-family: 'Acumin Pro SemiBold';
} 

.nav-links a{
	font-family: 'Acumin Pro Light';
	color: #404040;
	display: block 
} 


/* footer follow styles */
.follow {
	margin-left: 150px;
}

.follow h3 {
	font-size: 15px;
	font-family: 'Acumin Pro SemiBold';
	line-height: 28px;
	letter-spacing: 0.5px;
	margin-bottom: 7px;
}

.follow img {
	opacity: 0.2;
	margin-bottom: 12px;
}

.follow a {
	font-size: 15px;
	font-family: 'Acumin Pro Light';
	line-height: 28px;
	letter-spacing: 0.5px;
	color: #404040;
}